body {
    color: white;
    background-color: pink;
    margin: 0px;
}

header { 
    border-bottom: solid 2px rgb(red, green, blue);
    padding: 20px;
    font-size: 32px;
    color: rgba(226, 43, 186, 0.925);
}